{
    "id": "{{ item.title }}",
    "type": "visualization",
    "version": 1,
    "attributes": {
      "title": "{{item.title}}",
      "visState": "{\"title\":\"{{item.title}}\",\"type\":\"markdown\",\"params\":{\"markdown\":\"{{item.markdown}}\"},\"aggs\":[],\"listeners\":{}}",
      "uiStateJSON": "{}",
      "description": "",
      "kibanaSavedObjectMeta": {
	"searchSourceJSON": "{\"query\":{\"query_string\":{\"query\":\"*\",\"analyze_wildcard\":true}},\"filter\":[]}"
      }
    }
}
